@model WebUI.Areas.Public.Models.BasePageViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/Areas/Public/Content/Images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Хурма</title>
    

    <link href="~/Areas/Public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Public/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Areas/Public/content/fonts/avantgarde/avantgarde.css" rel="stylesheet" />
    <link href="~/Areas/Public/content/css/site.css" rel="stylesheet" />
    <link href="~/Areas/Public/content/css/site.footer.css" rel="stylesheet" />
    <link href="~/Areas/Public/content/css/site.figure.css" rel="stylesheet" />
    <link href="~/Areas/Public/content/css/site.figure2.css" rel="stylesheet" />

    <script src="~/Areas/Public/vendor/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/Areas/Public/vendor/glow/jquery.bootstrap-growl.min.js"></script>
    @*<script src="~/Areas/Public/vendor/noty-2.2.0/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="~/Areas/Public/vendor/noty-2.2.0/js/noty/jquery.noty.js"></script>
    <script src="~/Areas/Public/vendor/noty-2.2.0/noty.defaults.js"></script>*@
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div class="container-fluid" id="main-wrapper">
        @Html.Partial("_Menu")
        @RenderBody()
    </div>
<div class="container-fluid footer">
    <div class="container">
        @Html.Partial("_Footer")
    </div>
</div>
    

    <script src="~/Areas/Public/vendor/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

<script type="text/javascript">
    var footerChange = function () {
        var height = 0;
        $('body > .container-fluid').each(function () {
            height += $(this).outerHeight(true);
            console.log($(this).outerHeight(true));
        });

        console.log('window:', $(window).innerHeight(), 'body:', height);

        if (height >= $(window).innerHeight()) {
            $('body').removeClass('fixed-footer');
        } else {
            $('body').addClass('fixed-footer');
        }
    };

    var menuChange = function() {
        if ($(window).innerWidth() <= 1085) {
            $('[data-menu]').each(function () {
                var $el = $(this);
                $el.find('ul').removeClass('dropdown-menu-hidden');
            });

            $('.dropdown-menu-horizontal').addClass('dropdown-menu-horizontal-hidden');
        } else {
            $('[data-menu]').each(function () {
                var $el = $(this);
                $el.find('ul').addClass('dropdown-menu-hidden');
            });

            $('.dropdown-menu-horizontal').removeClass('dropdown-menu-horizontal-hidden');
        }
    };

    var horizontalWidth = function () {
        setTimeout(function() {
            $('.dropdown-menu-horizontal').each(function () {
                var width = 0;
                var $el = $(this);

                $el.find('li').each(function () {
                    width += $(this).outerWidth(true);
                });

                $el.width(width);
            });
        }, 1);
    }

    $(document).load(function() {
        footerChange();
        menuChange();
        horizontalWidth();
    });

    $(document).ready(function () {
        $(window).resize(footerChange);
        $(window).resize(menuChange);
        $(window).resize(horizontalWidth);

        footerChange();

        $('[data-menu]').each(function () {
            var $el = $(this);
            var $wrap = $el.closest('.nav');

            var $ul = $el.find('ul').clone();

            $el.find('ul').addClass('dropdown-menu-hidden');

            $ul.removeClass('dropdown-menu');

            var $submenu = $('<div />');
            $submenu.addClass('dropdown-menu-horizontal');
            $submenu.attr('data-item', $el.attr('data-menu'));
            $submenu.append($ul);

            $wrap.append($submenu);


            //console.log($wrap);
        });



        $('[data-menu]').on('shown.bs.dropdown', function () {
            var attr = $(this).attr('data-menu');
            $('[data-item="' + attr +'"]').css('visibility', 'visible');
        });

        $('[data-menu]').on('hide.bs.dropdown', function () {
            var attr = $(this).attr('data-menu');
            //$('[data-item="' + attr + '"]').hide();
            $('[data-item="' + attr + '"]').css('visibility', 'hidden');
        });

        menuChange();
        horizontalWidth();

        $("img").one("load", function () {
            footerChange();
        }).each(function () {
            if (this.complete) $(this).load();
        });
    });
</script>

    <!-- Facebook Pixel Code -->
    <script type="text/javascript">
        !function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', '//connect.facebook.net/en_US/fbevents.js'); fbq('init', '1693475960892144'); fbq('track', "PageView");
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1693475960892144&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter34826340 = new Ya.Metrika({
                        id: 34826340,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/34826340" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>