@model LogOnModel

@{  
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Авторизация";
    string antiCache = Guid.NewGuid().ToString();
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    if (Convert.ToInt32(Session["LogOnAttempt"]) <= ViewBag.LOG_ON_ATTEMPT_LOCK)
    {
        <div class="content">
            @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Пользователь" })
            @Html.ValidationMessageFor(m => m.Login, null, new { @class = "label label-danger val-meassage" })

            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Пароль" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "label label-danger val-meassage" })
                                
        </div>
                            
        if (Convert.ToInt32(Session["LogOnAttempt"]) >= ViewBag.LOG_ON_ATTEMPT_CAPTCHA)
        {
            <div class="panel panel-warning captcha-area">
                <div class="panel-heading">
                    <div class="panel-title captcha-title">Количество попыток исчерпано, введите результат вычисления</div>
                </div>
                <div class="panel-body">
                    <label class="control-label captcha-img"><img src="@Url.Action("CaptchaImage", "Captcha", new { rnd = antiCache })" /></label>
                    <div class="controls captcha-val">
                        @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                    <div class="clear"></div>
                    @Html.ValidationMessageFor(x => x.Captcha, null, new { @class = "label label-danger val-meassage" })
                </div>
            </div>
        }
                            
        <div class="actions">
            <input class="btn btn-primary pull-right" type="submit" value="Вход">
            <span class="checkbox-wrapper">
                @Html.CheckBoxFor(m => m.RememberMe) Запомнить меня
            </span>
            <div class="clearfix"></div>
        </div>
        }
}
 