@model PasswordRecoveryModel
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    string returnUrl = ViewBag.ReturnUrl;
    string antiCache = Guid.NewGuid().ToString();
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="header text-center">
        <h3>@ViewBag.Title</h3>
    </div>

    <div class="main">
        @Html.ValidationSummary()

        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Логин", autofocus = "" })

        <div class="panel panel-warning captcha-area">
            <div class="panel-heading">
                <div class="panel-title captcha-title">Введите результат вычисления</div>
            </div>
            <div class="panel-body">
                <label class="control-label captcha-img"><img src="@Url.Action("CaptchaImage", "Captcha", new {rnd = antiCache})" /></label>
                <div class="controls captcha-val">
                    @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control", @autocomplete = "off" })
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <span class="clearfix"></span>
    </div>
    <div class="main-footer">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="left-section">
                    <div class="left-section-content">
                        @if (String.IsNullOrEmpty(returnUrl))
                        {
                            <a href="/" >На главную</a>
                        }
                        else
                        {
                            <a href="@returnUrl" >Вернуться</a>
                        }
                            
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Отправить</button>
            </div>
        </div>
    </div>
}