@using WebUI.Models.Forum
@model ForumViewModel
@{
    IEnumerable<SectionViewModel> sections = Model.Items.Cast<SectionViewModel>();
    string wrapID = Guid.NewGuid().ToString();
}


<div class="f-sections-wrap">
    <div class="row">
        <div class="col-md-6 col-sm-12 vertical-align">
            <h2>@Model.Title </h2>
        </div><!--
        --><div class="f-head-control col-md-6 col-sm-12 vertical-align">
            <div class="row">
                @if (Model.UserRole == UserRole.Moderator)
                {
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <button type="button" class="btn btn-primary btn-block create-btn" href="#">Создать раздел</button>
                    </div>
                }
                <div class="input-group search-group @(Model.UserRole == UserRole.Moderator ? "col-xs-8 col-sm-9 col-md-8" : "col-md-12")">
                    <input type="text" class="form-control search-input">
                    <span class="input-group-btn">
                        <button class="btn btn-default search-btn" type="button"><span class="glyphicon glyphicon-search vertical-align"></span>&nbsp;Поиск</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    @{
        foreach (var item in sections)
        {
            <text>
                @RenderSection(item)
            </text>
        }
    }
</div>

@* new section modal *@

<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-newsection">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
        <h4 class="modal-title" id="newTopicModalLabel">Новый раздел</h4>
      </div>
      <div class="modal-body">
          <div id="alert_placeholder"></div>
          <div class="title">
             <label for="titleInput">Название</label>
             <input type="text" class="form-control" id="titleInput" placeholder="Введите название раздела">
          </div>
          <div class="description">
             <label for="descriptionInput">Описание</label>
             <input type="text" class="form-control" id="descriptionInput" placeholder="Введите описание раздела">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create-btn">Создать</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


@helper RenderSection(SectionViewModel section)
{
    <div class="f-row f-section row" onclick="location.href='@Url.Action("Index", "forum", new { sect = section.ID }, null)'">
        <div class="col-lg-10 col-xs-9 vertical-align">
            <div class="vertical-align f-sect-info">
                @{if (Model.UserRole == UserRole.Moderator) 
                { <span class="badge premod-count @(section.PremodPostsCount > 0 ? "has-premod" : "")" data-toggle="tooltip" title="Количество сообщений на модерации">
                    @(section.PremodPostsCount)
                 </span> }}
            </div><!--
            --><div class="vertical-align">
                <div class="f-title">
                    <h3>@(section.Title)</h3>
                </div>
                <div class="f-description text-muted">
                    @(section.Description)
                </div>
            </div>
        </div><!--
        --><div class="f-counts col-lg-2 col-xs-3 vertical-align">
            <div class="row">
                <div class="f-topics-count col-sm-6 col-xs-12 text-right">
                    <strong>@(section.TopicsCount)</strong>&nbsp;<small>тем</small>
                </div>
                <div class="f-posts-count col-sm-6 col-xs-12 text-right">
                    <strong>@(section.PostsCount)</strong>&nbsp;<small>сообщ.</small>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $('.create-btn').on('click', function (e) {
            $('#newSectionModal').modal('show');
        });

        $('#newSectionModal').on('shown.bs.modal', function (e) {
            $(this).find('#create-btn').on('click', function (event) {

                $(e.target).find("#alert_placeholder").children().hide('fast').remove();

                var title = $(e.target).find("#titleInput").val();
                var description = $(e.target).find("#descriptionInput").val();

                if (title.trim() == "") {
                    $('<div class="alert alert-danger">Поле "Название" не может быть пустым.</div>').hide().appendTo($(e.target).find("#alert_placeholder")).fadeIn(100);
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CreateSection")",
                    data: {
                        title: title,
                        description: description,
                    },
                    success: function (data) {
                        if (data.success != null) {
                            location.href = data.success;
                        }
                        else {
                            $('<div class="alert alert-danger">' + data.error + '</div>').hide().appendTo($(e.target).find("#alert_placeholder")).fadeIn(100);
                        }
                    }
                });
            });
        });

        $('.search-input').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('.search-btn').trigger('click');
                return false;
            }
        });

        $('.search-btn').on('click', function (e) {
            var searchStr = $('.search-input').val().trim();
            if (searchStr == '') return;

            location.href = "/Forum/Search?searchStr=" + searchStr;

            @*$.ajax({
                type: "POST",
                url: "@Url.Action("Search")",
                data: {
                    searchStr: searchStr
                },
                success: function (data) {
                    $('body').html(data);
                }
            });*@
        });
    });
</script>