@model EditorViewModel

@{
    string wrapID = "wrap_" + Guid.NewGuid().ToString("N");
    string btnchange = "btn_" + Guid.NewGuid().ToString("N");
    string wndchange = "wnd_" + Guid.NewGuid().ToString("N");
    string passStrengthID = "p_" + Guid.NewGuid().ToString("N");
}

<script>
    window['@wrapID'] = {
        getForm: function () {
            var e_form = $("#@wrapID").closest("form");
            return e_form.data("pbaForm");
        },
        changePass: function () {
            var wnd = $("#@wndchange").data("kendoWindow");

            var passProgress = $("#@passStrengthID").data("kendoProgressBar");

            passProgress.value(0);
            passProgress.progressStatus.text("Пусто");

            var newpass = wnd.element.find("#newPass").val("");

            if (!wnd["_init_event_"]) {
                wnd.element.find(".btn-save").on("click", function (e) {
                    var id_user = window['@wrapID'].getForm().getPr("ID");

                    $.post("/Account/ChangePassword", { ID: id_user, newPass: newpass.val() }, function (res) {
                        if (res.error == 0) {
                            pbaAPI.infoUploadSuccess(res.message);
                            wnd.close();
                        } else {
                            pbaAPI.errorMsg(res.message);
                        }
                    });
                });

                wnd.element.find(".btn-close").on("click", function (e) {
                    wnd.close();
                });

                newpass.on("keyup", function () {
                    passProgress.value(this.value.length);
                });

                wnd["_init_event_"] = true;
            }

            wnd.center();
            wnd.open();
        },
        passStrength_onChange: function (e) {
            this.progressWrapper.css({
                "background-image": "none",
                "border-image": "none"
            });

            if (e.value < 1) {
                this.progressStatus.text("Пусто");
            } else if (e.value <= 3) {
                this.progressStatus.text(e.value);

                this.progressWrapper.css({
                    "background-color": "#EE9F05",
                    "border-color": "#EE9F05"
                });
            } else if (e.value <= 6) {
                this.progressStatus.text(e.value);

                this.progressWrapper.css({
                    "background-color": "#428bca",
                    "border-color": "#428bca"
                });
            } else {
                this.progressStatus.text(e.value);

                this.progressWrapper.css({
                    "background-color": "#8EBC00",
                    "border-color": "#8EBC00"
                });
            }
        }
    };
</script>

<div id="@wrapID">
    <div class="add">
        @Html.TextBox(Model, new { name = Model.PropertyName, type = "password", style = "width: 100%;", validationmessage = "Обязательное поле", autocomplete = "off" })
        <span class="k-invalid-msg" data-for="@Model.PropertyName"></span>
    </div>
    <div class="change">
        @(Html.Kendo().Button()
            .Name(btnchange)
            .Tag("a")
            .SpriteCssClass("k-icon k-i-pencil")
            .Content("Изменить...")
            .Events(e => e.Click(wrapID + ".changePass")))

        @(Html.Kendo().Window()
            .Name(wndchange)
            .Title("Изменение пароля")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Content(@<text>
                <div class="common-form k-edit-form-container">
                    <form>
                        <div class="editor-line">
                            <div class="editor-label">
                                <label>Новый</label>
                            </div>
                            <div class="editor-field">
                                <input id="newPass" type="password" name="newPass" value="" class="k-textbox" style="width: 260px;" />
                            </div>
                        </div>
                        <div class="editor-line">
                            <div class="editor-label">
                                <label>Длина</label>
                            </div>
                            <div class="editor-field">
                                @(Html.Kendo().ProgressBar()
                                .Name(passStrengthID)
                                .Type(ProgressBarType.Value)
                                .HtmlAttributes(new { style = "width: 260px;" })
                                .Max(12)
                                .Animation(false)
                                .Events(e => e.Change(wrapID + ".passStrength_onChange"))
                                )
                            </div>
                        </div>
                        <div style='float: right;'>
                            <a class='btn-save k-button'><span class='k-icon k-update'></span>Сохранить</a>
                            <a class='btn-close k-button'><span class='k-icon k-cancel'></span>Отмена</a>
                        </div>
                    </form>
                </div>
            </text>)
        )
    </div>
</div>

<style scoped>
    #@passStrengthID {
        width: 260px;
    }
</style>

<script>
    $(function () {
        $("#@wrapID").closest("form").on("onAfterBind", function (e, form) {
            if (form.getPr('ID') == 0) {
                $("#@wrapID").find("div.add:first").show().find("input[type=password]").attr("required", 'true');
                $("#@wrapID").find("div.change:first").hide();
            } else {
                $("#@wrapID").find("div.change:first").show();
                $("#@wrapID").find("div.add:first").hide().find("input[type=password]").removeAttr("required");
            }
        });
    });
</script>