@model WebUI.Areas.Public.Models.ContentCategoryPageViewModel

@{
    ViewBag.Title = Model.Category.Title;
}

@*<style>
    figure {
        max-height: 420px;
        min-width: 255px;
        width: 255px;
        margin: 10px auto;
        float: none;
        /*font-family: avantgardegothicc-b;*/
    }

    @@media screen and (max-width: 50em) {
        figure {
            display: block;
            float: none;
            margin: 10px auto;
            width: 255px;
        }
    }
</style>*@

<div class="container-fluid" id="home-page-content">
    @if (Model.Category.Expand)
    {
        @*<div class="row">
            <div class="col-lg-12">
                <h1>@Model.Category.Title</h1>
            </div>
        </div>*@
    }

    @RenderCategoryMnemonicWidgets(Model.Category.Mnemonic)

    @Html.Partial(Model.Category.Expand ? "_ExpandContent" : "_ListContent", Model.ContentItems)

    @if (Model.CategoryItems.Any())
    {
        <div class="row">
            <div class="col-lg-12">
                @if (Model.ContentItems.Any())
                {
                    <h2>Так же смотрите</h2>
                }
                @Html.Partial("_Categories", Model.CategoryItems)
            </div>
        </div>
    }

</div>

@helper RenderCategoryMnemonicWidgets(string mnemonic)
{
switch (mnemonic)
{
    case "Contact":
        Html.RenderAction("GetPanel", "Contact");
        break;
    default:
        break;
}
}

<style>
    form.base-form .bar:before, form.base-form .bar:after {
        background: @Model.ThemeColor !important;
    }
    form.base-form input:focus ~ label, form.base-form input:valid ~ label, form.base-form textarea:focus ~ label, form.base-form textarea:valid ~ label {
        color: @Model.ThemeColor !important;
    }
    .btn.btn-default.btn-form-submit {
        background-image: none;
        box-shadow: none;
        border: 2px solid @Model.ThemeColor !important;
        color: @Model.ThemeColor;
    }
    .btn.btn-default.btn-form-submit:focus, .btn.btn-default.btn-form-submit:hover {
        background-color: @Model.ThemeColor !important;
        color: #fff0f5;
    }
</style>